# Environment
.env

# Dependencies
vendor/
node_modules/

# Docker runtime data
*.pid
*.sock

# Database runtime files and dumps
*.sqlite
*.sqlite3
*.db
*.sql.gz

# Logs
logs/
*.log

# Temporary files
tmp/
temp/
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.suo
*.user
